.tabla-encabezado {
    width: 100%;
}

.tabla-encabezado td {
    text-align: center;
    vertical-align: middle;
}

.encabezado-logo {
    width: 80px;
}

.encabezado-hr {
    border: none;
    border-top: 1px solid #000;
    margin: 0px 5px 0px 5px;
}